@font-face {
    font-family: battambang-l;
    src: url(../Googlefont/Battambang/Battambang-Light.ttf);
}
@font-face {
    font-family: battambang-r;
    src: url(../my-css/);
}
@font-face {
    font-family: hunuman-l;
    src: url(../Googlefont/Hanuman/Hanuman-Light.ttf);
}
@font-face {
    font-family: hunuman-r;
    src: url(../Googlefont/Hanuman/Hanuman-Regular.ttf);
}
@font-face {
    font-family: roboto-l;
    src: url(../Googlefont/Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: roboto-r;
    src: url(../Googlefont/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: c-r;
    src: url(../Googlefont/Crimson_Text/CrimsonText-Regular.ttf);
}
@font-face {
    font-family: c-i;
    src: url(../Googlefont/Crimson_Text/CrimsonText-Italic.ttf);
}
@font-face {
    font-family: b-l;
    src: url(../Googlefont/Barlow/Barlow-Light.ttf);
}
@font-face {
    font-family: m-r;
    src: url(../Googlefont/Metal/Metal-Regular.ttf);
}
@font-face {
    font-family: seimreab;
    src: url(../Googlefont/Siemreap/Siemreap-Regular.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: khmer Os battambang;
}
.nav-item{
    width: 100% in !important;
    height: 100%;
}
.my-drop{
    width: 100%;
    height: 100%;
    background: rgba(219, 219, 219, 0.479);
    padding: 30px 20px;
}
.dropdown-item{
    margin-bottom: 5px;
}
.dropdown-item:hover{
    color: rgb(255, 185, 185)!important;
}
@media (max-width: 1200px) {
    .btn-top{
        margin-top: 20px;
    }
    
}
 /* Underline From Center */
 .hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #5a6063;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }
  /* ----------Underline-from-center-------- */
  .nav-link{
    color: azure !important;
}

/* Navbar-style */
.box-nav{
    width: 100%;
    background-color: rgba(187, 175, 175, 0.904);
    display: flex;
    align-items: center;
    backdrop-filter: blur(20px);
    position: fixed;
    z-index: 5;
    
}
.action-nav{
    color: palegreen !important;
}
.nav-link:hover{
    color: palegreen !important;
}

@media(max-width: 1300px){
    .box-menu{
        padding: 40px 0 40px 40px;
    }
}
.my-slide{
    width: 100%;
    height: 640px;
    margin: auto;
    overflow: hidden;
} 
.navbar-brand {
    width: 90px;
    height: 90px;
}
.navbar-brand img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
/* Navbar-style */
/* banner-style */
.container-fluid .background-banner{
    width: 100%;
    height: 100%;
}
.my-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.my-slide .title-slide{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    background: rgba(175, 238, 238, 0.11);
}
.my-slide img{
    object-fit: cover;
}
.banner-logo{
    width: 180px;
    height: 180px;
    /* margin: auto; */
}
.txt-shadow{
    text-shadow: 2px 2px 5px rgb(71, 67, 67);
}
.bg-check{
    width: 100%;
    height: 100%;
    margin-top: -50px;
    position: relative;
    z-index: 2;
    padding: 20px 0;
    border: 1px solid palegreen;
    background-color: rgba(103, 114, 103, 0.507);
}
.container-fluid .booking{
    width: 100%;
    height: 100%;
}
.check-room > .option-title{
    width: 100%;
    height: 50px;
    background-color: rgba(217, 247, 247, 0.582);
    border: 1px solid palegreen;
    backdrop-filter: blur(10px);
    padding-left: 10px;
}
.check-room > .option-title:focus{
    outline-color: rgb(255, 247, 130);
}
.check-room >  input:focus{
    outline-color: rgb(255, 247, 130);
}
.check-room > input{
    width: 100%;
    height: 50px;
    background: rgba(217, 247, 247, 0.582) url(../my-image/logo-resort/catoon1.png);
    border: 1px solid palegreen;
    backdrop-filter: blur(10px);
    padding-left: 10px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 96%;
}
.check-room[type=date],
::-webkit-calendar-picker-indicator{
    opacity: 0;
    padding-right: 10px;
}
.check-room .btn{
    width: 100%;
    height: 50px;
    background-color: rgba(217, 247, 247, 0.582);
    border: 1px solid palegreen;
    backdrop-filter: blur(10px);
}
.check-room:hover .check-in{
    background-color: rgba(217, 247, 247, 0.582);
    border: 2px solid rgb(255, 247, 130);
    color: rgb(177, 170, 113);
}
.check-room > .option{
    width: 100%;
    height: 50px;
    padding: 0 20px;
    backdrop-filter: blur(10px);
    background-color: rgba(217, 247, 247, 0.582);
}
/* ===============%% */
.container-fluid .box-img{
    width: 100%;
    height: 250px;
    background: palegoldenrod;
    overflow: hidden;
}
.my-box .title-img{
    width: 100%;
    height: 100px;
}
.box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.box-img:hover img{
    transform: scale(1.1);
}
.title-img .circle{
    width: 50px;
    height: 50px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    margin: auto;
    margin-top: -25px;
}
/* ===============%% */
.box-slide{
    height: 100%;
    width: 100%;
}
.box-slide .my-slide{
    width: 100%;
    height: 100%;
}
/* .my-slide .house-slide{
    width: 100%;
    height: 500px;
    background: paleturquoise;
} */
.box-slide .box-feature{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    background: rgba(198, 233, 198, 0.479);
}
@media (max-width: 1000px) {
    .box-feature{
        padding: 30px;
    }
}
.box-spm{
    margin-top: 5px;
    padding-left: 50px;
}
.box-spm img{
    width: 35px;
    height: 40px;
}
.box-spm > p{
    margin-left: 30px;
}
.book-btn{
    margin-top: 30px;
    margin-left: 40px;
}
/* form booking */
.my-check{
    width: 60%;
    height: 100%;
    padding: 70px 0;
    /* background-color: palegreen; */
}
.my-check .check-form{
    width: 100%;
}
.check-form > input{
    width: 100%;
    height: 50px;
    background: url(../my-image/logo-resort/catoon1.png);
    border: 1px solid palegreen;
    backdrop-filter: blur(10px);
    padding-left: 10px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 96%;
}
.check-room[type=date],
::-webkit-calendar-picker-indicator{
    opacity: 0;
    padding-right: 10px;
}
.check-form > .option{
    width: 100%;
    height: 40px;
    padding: 0 20px;
}
.action-detail{
    width: 100%;
    height: 100px;
    padding: 0 0 0 40px;
}
.room-feature{
    width: 100%;
    height: 100%;
    /* background: palegreen; */
    padding: 20px 0px 0 20px;
    text-align: start;
}
.pic-detail{
    width: 100%;
    height: 100%;
    background: palegreen;
    overflow: hidden;
}
.pic-detail img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.story{
    margin-top: 30px;
    margin-left: 30px;
}
/* @media (max-width: 1000px) {
    .box-feature{
        margin-left: 30px;
    }
} */
/* specail-slide */
.banner-slide{
    width: 100%;
    position: relative;
    height: 550px;
    overflow: hidden;
  }
  #slide{
    width: max-content;
    padding-top: 50px;
  }
  .item{
    width: 180px;
    height: 220px;
    background: palegoldenrod;
    background-position: center;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    transition: 0.5s;
}
  .item:nth-child(1),
  .item:nth-child(2){
    width: 100%;
    height: 100%;
    box-shadow: none;
    border-radius: 0;
    transition: 1s;
    object-fit: cover;
    background-size: 100%;
    background-position: center;
  }
  .item:nth-child(3){
    width: 180px;
    height: 220px;
    left: 68%;
    object-fit: cover;
  }
  .item:nth-child(4){
    left: calc(68% + 200px);
    object-fit: cover;
  }
  @media (max-width: 1100px) {
    .item:nth-child(3),
    .item:nth-child(4){
        display: none;
    }
  }
  @media (max-width: 800px) {
    .item:nth-child(1),
    .item:nth-child(2){
        width: 100%;
        height: 300px;
        background-size: 100%;
        background-position: center;
    }
    .banner-slide{
        height: 300px;
        width: 100%;
    }
    .btn-slide{
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-around;
        top: 50%;
    }
    #prev{
        width: 50px;
        left: 20px;
        position: absolute;
    }
    #next{
        width: 50px;
        right: 20px;
        position: absolute;
    }
  }
  /* .item:nth-child(5){
      left: calc(52% + 440px);
  }
  .item:nth-child(n + 6){
      left: calc(52% + 600px);
    opacity: 0;
  } */
  .item .content{
    position: absolute;
    top: 50%;
    left: 100px;
    width: 60%;
    text-align: left;
    padding: 0;
    color: rgb(255, 251, 20);
    display: none;
    transform: translate(0, -50%);
  }
  .item:nth-child(2) .content{
    display: block;
    z-index: 5;
  }
  .item .name{
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.6s forwards
  }
  .item .des{
    margin-bottom: 20px;
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.6s forwards
  
  
  }
  @keyframes showcontent{
    from{
      opacity: 0;
      transform: translate(0, -100px);
      filter:blur(33px);
    }
    to{
      opacity: 1;
      transform: translate(0, 0);
      filter: blur(0);
    }
  }
  .btn-slide{
    position: absolute;
    bottom: 30px;
    z-index: 3;
    width: 100%;
    text-align: center;
  }
  .btn-slide > button{
    width: 70px;
    height: 40px;
    border: none;
  }
  .btn-detail{
    width: 170px;
    height: 50px;
    opacity: 0;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.781);
    animation: showcontent 1s ease-in-out 0.6s forwards
  }
  .btn-detail:hover{
    border: 2px solid yellow;
  }
  .left{
    width: 2px;
    height: 90%;
    background: powderblue;
    /* border-left: 1px solid palegoldenrod; */
}
  /* style-box-suit */
  .container .box-suite{
    width: 100%;
    height: 100%;
   }
  .suite-img{
    width: 100%;
    height: 40px;
    display: flex;
  }
  .suite-img img{
    width: 30px;
    height: 30px;
  }
  .suite-img > p{
    margin-left: 20px;
  }
  /* room-faclity */
  .container-fluid .room-faclity{
    width: 100%;
    height: 100px;
    /* background: palegoldenrod; */
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .content-faclity{
    width: 100%;
    height: 100px;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  .box-faclity{
    width: 40px;
    height: 40px;
  }
  /* Footer-style */
.container-fluid .my-footer{
    width: 100%;
    height: 100%;
}


.sub-footer{
    width: 100%;
    height: 300px;
    /* background-color: paleturquoise; */
}
.information{
    height: 350px;
    padding: 40px 0 0 50px;
    line-height: 30px;
}
.sub-footer img{
    width: 200px;
    height: 200px;
    margin-top: 10px;
}
.sub-footer .box-media{
    width: 140px;
    display: flex;
    justify-content: space-between;
}
.box-email{
    width: 100%;
    height: 40px;
     margin-bottom: 20px;
     margin-top: 10px;

}
.icon:hover{
    transform: scale(1);
    color: rgb(173, 247, 173);
}
.bg-color{
    background-color: powderblue;
}
.font-1{
    font-family: hunuman-r;
}
.font-2{
    font-family: m-r;
}
.font-3{
    font-family: roboto-r;
}
.font4{
    font-family: seimreab;
}
.shadow1{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.shadow2{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.shadow3{
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;}
.text-shadow{
    text-shadow: 2px 4px 5px rgb(206, 186, 186);
}
  