*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-family: Khmer Os Battambang;
    color: white;
}
.container{
    width: 100%;
    height: 90px;
    background-color: #000000;
}
.container-menu{
    width: 1200px;
    height: 90px;
    background-color: black;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: end;
}
.nav-logo{
    width: 150px;
    height: 90px;
    background-image: url(../logo-white.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.nav-content{
    width: 900px;
    height: 90px;
    background-color: black;
}
.nav-icon{
    width: 150px;
    height: 90px;
    background-color: black;
}
.nav-icon > .fa-solid{
    color: white;
    font-size: 20px;
    float: right;
    padding-top: 47px;
    padding-left: 20px;
    
}
.nav-content > ul > li > a{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    display: block;
    padding: 17px 17px;
    transition: 0.5s;
    text-underline-offset: 0px;
}
.nav-content > ul{
    width: 900px;
    height: 86px;
    list-style: none;
    display: flex;
    align-items: end;
    justify-content: center;
}
.nav-content > ul:hover > li:hover > a:hover{
    background-color: black;
    /* box-shadow: 0 4px 0 0; */
    color: red;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
}
.container-text{
    width: 100%;
    height: 600px;
    background-color: aqua;
    position: relative;
}
.box-text{
    width: 700px;
    height: 600px;
    background-color: white;
    position: absolute;
    margin-left: 60px;
    /* z-index: 5; */
}
.box-btn{
    width: 400px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 130px;
}
.btn-new{
    width: 90px;
    height: 40px;
    background-color: red;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    z-index: 5;
}
.box-tittle{
    width: 700px;
    height: 300px;
    /* background-color: bisque; */
    position: absolute;
    z-index: 5;
}
h1{
    font-size: 65px;
    color: white;
}
p{
    font-size: 18px;
    color: white;
}
.box-download{
    width: 500px;
    height: 50px;
    position: absolute;
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
}
.appstore, .huweistore, .playstore{
    width: 160px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.download-click{
    width: 150px;
    height: 40px;
    transition: 0.50s;
}
.download-click:hover{
    transform: scale(1.1);
}
 .swiper {
    width: 100%;
    height: 100%;
    position: absolute;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.background{
    width: 100%;
    height: 600px;
    background: rgb(28,23,23);
    background: linear-gradient(90deg, rgba(28,23,23,1) 0%, rgba(41,41,42,1) 35%, rgba(247,247,247,0) 93%);
    position: absolute;
}
.container-box{
    width: 100%;
    height: 1500px;
    background-color: black
}
.container-story{
    width: 1200px;
    height: 1500px;
    background-color: black;
    margin: auto;
}
.tittle{
    width: 1200px;
    height: 150px;
    background-color: black;
    display: flex;
    align-items: center;
}
.tittle > h2{
    font-size: 30px;
}
.tittle > h2 > a{
    color: red;
    text-underline-offset: 15px;
    text-decoration-color: aqua;
}
.box-movise{
    width: 1200px;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.movise-item{
    width: 390px;
    height: 300px;
    /* border: 1px solid #645e5e; */
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    width: 395px;
    height: 300px;
    position: absolute;
    transition: 0.50s;
}
.image > img{
    width: 100%;
    height: 100%;
}
.blur-bg{
    width: 395px;
    height: 300px;
    position: absolute;
    background: rgb(52,49,49);
    background: linear-gradient(0deg, rgba(52,49,49,1) 0%, rgba(20,17,17,0) 40%);
}
.movise-tittle{
    width: 350px;
    height: 60px;
    position:absolute;
    z-index: 5;
    margin-top: 200px;
}
.tittle-note{
    width: 350px;
    height: 30px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.movise-tittle > h3{
    font-size: 20px;
}
.tittle-note > p{
    font-size: 14px;
}
.icon-play{
    width: 60px;
    height: 60px;
    border: 2px solid ;
    border-radius: 50px;
    margin: auto;
    margin-top: -360px;
    transition: 0.50s;
    z-index: 3;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-circle{
    font-size: 60px;
    position: absolute;
}
.fa-play{
    font-size: 30px;
    position: absolute;
}
.movise-item:hover > .icon-play{
    margin-top: 0px;
}
.movise-item:hover > .image{
    transform: scale(1.1);
}
.movise-item:hover > .blur-bg{
    background: rgb(52,49,49);
    background: linear-gradient(0deg, rgba(52,49,49,1) 9%, rgba(20,17,17,0) 48%);
}
.icon-play:hover{
    width: 70px;
    height: 70px;
    border: 5px solid red;
    border-radius: 50%;
}
.cover-story{
    width: 100%;
    height: 100%;
}
.main{
    width: 1200px;
    height: 400px;
    background-color: red;
}
 .container-story > .swiper {
    width: 1200px;
    height: 400px;
    position: absolute;
}
.container-story >.swiper-slide img {
    display: block;
    width: 1200px;
    height: 400px;
    object-fit: cover;
    position: absolute;
}
.popular-mov{
    width: 1200px;
    height: 350px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.cover{
    width: 220px;
    height: 300px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}
.cover-img{
    width: 220px;
    height: 300px;
    transition: 0.50s;
}
.cover-img > img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.popular-tittle{
    width: 200px;
    height: 100px;
    position: absolute;
    z-index: 5;
    margin-top: 240px;
}
.cover > .popular-tittle a{
    color: white;
    text-decoration: none;
    text-underline-offset: 0px;
}
.cover:hover > .popular-tittle a{
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-color:  red;
    text-decoration-thickness: 2px;
}
.sub-tittle{
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.blur-tittle{
    width: 220px;
    height: 300px;
    position: absolute;
    z-index: 4; 
    background: rgb(52,49,49);
    background: linear-gradient(0deg, rgba(52,49,49,1) 3%, rgba(20,17,17,0) 40%);
}

.sub-tittle > p{
    font-size: 13px;
}
.cover:hover > .cover-img{
    transform: scale(1.1);
}
.container-footer{
    width: 100%;
    height: 300px;
    background-color: rgb(66, 63, 63);
}
.footer{
    width: 1200px;
    height: 300px;
    margin: auto;
    display: flex;

}
.box-footer{
    width: 400px;
    height: 300px;
}
.box-logo{
    width: 200px;
    height: 170px;
}
.box-logo > img{
    width: 100%;
    height: 100%;
}
.text-address{
    width: 400px;
    height: 130px;
}
.text-address  p{
    font-size: 15px;
}
.nav-footer{
    width: 400px;
    height: 300px;
    display: flex;
    align-items: center;
}
.box-nav{
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
}
.link-nav{
    width: 200px;
    height: 150px;
}
.link-nav > a{
    color: #000000;
    font-size: 16px;
    color: white;
    text-decoration: none;
    display: flex;
    padding-left: 60px;
}
.link-nav > a:hover{
    color: red;
}
.download-footer{
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.footer-right{
    width: 300px;
    height: 150px;
}

.text-download{
    width: 300px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-download > h2{
    font-size: 30px;
}
.text-contact{
    width: 300px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-contact > h2{
    font-size: 30px;
    color: red;
}
.download-app{
    width: 300px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.upload{
    width: 90px;
    height: 30px;
    
}
.upload > img{
    width: 90px;
    height: 30px;
    transition: 0.50s;
}
.socail-media{
    width: 300px;
    height: 30px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.icon-media{
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-media > .fa-brands{
    font-size: 30px;;
}
.upload:hover > img{
    transform: scale(1.2);
}
.fa-brands:hover{
    transform: scale(1.5);
}

